<div class="flex justify-center md:px-4">
  <div class="w-full bg-white rounded-lg border border-gray-200 shadow-md px-2 pt-4 pb-5 md:px-4">
    <ol class="pt-2 pb-5 flex items-center justify-center w-full text-sm font-medium text-center text-gray-500 sm:text-base">
      <li
        class="flex md:w-full items-center material-purple sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-300 after:border-1 after:hidden sm:after:inline-block after:mx-3 xl:after:mx-4">
        <span
          class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200">
          <i class="pi pi-check-circle" style="font-size: 1.2rem"></i>
         <span class="hidden lg:inline-flex lg:ml-2">Select&nbsp;Exam</span>
        </span>
      </li>
      <li
        class="flex md:w-full items-center material-purple sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-300 after:border-1 after:hidden sm:after:inline-block after:mx-3 xl:after:mx-4">
        <span
          class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200">
          <i class="pi pi-check-circle" style="font-size: 1.2rem"></i>
         <span class="hidden lg:inline-flex lg:ml-2">Applicants&nbsp;Info</span>
        </span>
      </li>
      <li
        class="flex md:w-full items-center material-purple sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-300 after:border-1 after:hidden sm:after:inline-block after:mx-3 xl:after:mx-4">
        <span
          class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200">
          <i class="pi pi-check-circle" style="font-size: 1.2rem"></i>
         <span class="hidden lg:inline-flex lg:ml-2">Summery&nbsp;&&nbsp;Payment</span>
        </span>
      </li>
      <li class="flex items-center material-purple">
        <span class="flex items-center justify-center rounded-full text-white material-purple-bg"
              style="width:1.5rem; height: 1.5rem">4</span>
        <span class="hidden lg:inline-flex sm:ml-2">Confirmation</span>
      </li>
    </ol>
    <div class="flex justify-center">
      <div class="space-y-6 w-full max-w-2xl">
        <h5 class="sm:text-xl font-medium text-gray-900 text-center">Step 04 - Confirmation</h5>
        <div class="grid">
          <div class="col-12">
            <p-fieldset legend="Terms and Conditions">
              <div class="text-justify">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated
                they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by
                their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences
                fly into your mouth.
              </div>
              <p-divider></p-divider>
              <div class="text-justify">
                බොහෝ දුරින්, කඳු යන වචනයට පිටුපසින්, Vokalia සහ Consonantia යන රටවලට වඩා ඈතින්, අන්ධ පාඨයන් ජීවත් වේ. වෙන් වූ ඔවුන් ජීවත්
                වන්නේ විශාල භාෂා සාගරයක් වන සෙමෙන්ටික්ස් වෙරළ තීරයේ බුක්මාර්ක්ස්ග්‍රෝව් හි ය. ඩුඩෙන් නම් කුඩා ගංගාවක් ඔවුන්ගේ ස්ථානයෙන් ගලා
                බසින අතර එයට අවශ්‍ය රෙජිලියාලියා සපයයි. එය පාරාදීස රටක් වන අතර, වාක්‍යවල බැදපු කොටස් ඔබේ මුඛයට පියාසර කරයි.
              </div>
              <p-divider></p-divider>
              <div class="text-justify text-sm">
                வெகு தொலைவில், மலைகள் என்ற வார்த்தைக்குப் பின்னால், வோகாலியா மற்றும் மெய்யெழுத்து நாடுகளிலிருந்து வெகு தொலைவில், குருட்டு
                நூல்கள் வாழ்கின்றன. பிரிக்கப்பட்ட அவர்கள் ஒரு பெரிய மொழிக் கடலான செமாண்டிக்ஸ் கடற்கரையில் உள்ள புக்மார்க்ஸ்க்ரோவில்
                வசிக்கிறார்கள். டுடென் என்ற சிறிய நதி அவர்களின் இடத்தில் பாய்கிறது மற்றும் அதற்கு.
              </div>
            </p-fieldset>
          </div>
          <div class="col-12 mt-4 text-center space-x-4">
            <button
              pButton
              type="button"
              label="Back"
              class="p-button-sm w-1/4 md:w-8rem text-sm p-button-raised p-button-text"
              pRipple
              routerLink="/institutes/summery">
            </button>
            <button
              pButton
              type="submit"
              label="Confirm"
              class="p-button-sm w-1/4 md:w-8rem text-sm p-button-raised"
              pRipple>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
