<div class="flex justify-center text-center pb-2">
  <div class="grid">
    <div class="col-12 md:col-6">
      <button routerLink="/institutes/select-exam" pButton pRipple type="button"
              class="btn btn-blue max-w-xs shadow-md h-40 md:h-44 w-80">
        <div class="mx-auto">
          <i class="pi pi-file-edit" style="font-size: 1.75rem"></i>
          <div class="text-lg">Apply for an Examination</div>
        </div>
      </button>
    </div>
    <div class="col-12 md:col-6">
      <button routerLink="/institutes" pButton pRipple type="button"
              class="btn btn-green max-w-xs shadow-md h-40 md:h-44 w-80">
        <div class="mx-auto">
          <i class="pi pi-wrench" style="font-size: 2.2rem"></i>
          <div class="text-lg">Edit/Delete Applicant Details</div>
        </div>
      </button>
    </div>
  </div>
</div>
<div class="flex justify-center text-center">
  <div class="grid">
    <div class="col-12 md:col-6">
      <button routerLink="/institutes/institute-info" pButton pRipple type="button"
              class="btn btn-teal max-w-xs shadow-md h-40 md:h-44 w-80">
        <div class="mx-auto">
          <i class="pi pi-sync" style="font-size: 1.75rem"></i>
          <div class="text-lg">Update Institute Details</div>
        </div>
      </button>
    </div>
    <div class="col-12 md:col-6">
      <button routerLink="/institutes" pButton pRipple type="button"
              class="btn btn-indigo max-w-xs shadow-md h-40 md:h-44 w-80">
        <div class="mx-auto">
          <i class="pi pi-shield" style="font-size: 2.2rem"></i>
          <div class="text-lg">Change Institute Password</div>
        </div>
      </button>
    </div>
  </div>
</div>
