<div class="flex justify-center">
  <div class="w-full max-w-xl bg-white rounded-lg border border-gray-200 shadow-md px-2 pt-4 pb-5 sm:px-4">
    <form class="space-y-6" [formGroup]="passwordResetForm" (ngSubmit)="onPasswordReset()">
      <h5 class="sm:text-xl font-medium text-gray-900 text-center">Reset Account Password</h5>
      <div class="grid">
        <div class="col-12">
          <span class="p-float-label">
            <input type="text" id="email" pInputText class="p-inputtext-sm" formControlName="email"
                   placeholder="Enter email given at account creation" [style]="{ width: '100%' }"/>
            <label for="email">Enter email address given at account creation</label>
          </span>
          <div class="pl-1" *ngIf="this.passwordResetForm.controls['email'].dirty && passwordResetForm.controls['email'].errors">
            <small *ngIf="passwordResetForm.controls['email'].errors['required']" class="p-error">This field is required.</small>
            <small *ngIf="passwordResetForm.controls['email'].errors['email']" class="p-error">Invalid email address.</small>
          </div>
          <small class="text-gray-600 pl-1">Password reset link will be sent to this email address.</small>
        </div>
        <div class="col-12 mt-4 text-center space-x-4">
          <button
            pButton
            type="button"
            label="Back"
            class="p-button-sm w-1/4 md:w-8rem text-sm p-button-raised p-button-text"
            pRipple
            routerLink="/">
          </button>
          <button
            pButton
            type="submit"
            label="Send Reset Link"
            class="p-button-sm text-sm p-button-raised"
            pRipple
            [disabled]="passwordResetForm.invalid">
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
