<div class="flex justify-center">
  <div class="w-full max-w-xl bg-white rounded-lg border border-gray-200 shadow-md px-2 py-6 sm:px-4">
    <div class="grid text-center space-y-4">
      <div class="col-12"><i class="pi pi-cog pi-spin text-gray-600" style="font-size: 4rem"></i></div>
      <div class="col-12 text-gray-600 text-2xl pb-4">This page is under construction!</div>
      <div class="col-12 text-center space-x-4">
        <button
          pButton
          type="button"
          label="Back"
          class="p-button-sm w-1/4 md:w-8rem text-sm p-button-raised p-button-text"
          pRipple
          routerLink="/">
        </button>
      </div>
    </div>
  </div>
</div>
