<div class="flex justify-center text-center">
  <div class="grid">
    <div class="col-12 md:col-6">
      <button routerLink="/individuals" pButton pRipple type="button"
              class="btn btn-blue max-w-xs shadow-md h-40 md:h-44 w-80">
        <div class="mx-auto">
          <i class="pi pi-user" style="font-size: 1.75rem"></i>
          <div class="text-lg">Apply for an Examination</div>
          <div class="text-sm">(For Private Exam Candidates Only)</div>
        </div>
      </button>
    </div>
    <div class="col-12 md:col-6">
      <button routerLink="/institutes" pButton pRipple type="button"
              class="btn btn-green max-w-xs shadow-md h-40 md:h-44 w-80">
        <div class="mx-auto">
          <i class="pi pi-building" style="font-size: 2.2rem"></i>
          <div class="text-lg">Apply as a Institution</div>
          <div class="text-sm">(For Institutional Principals Only)</div>
        </div>
      </button>
    </div>
  </div>
</div>
