<section class="bg-white">
  <div class="flex justify-center">
    <div class="w-full max-w-xl bg-white rounded-lg border border-gray-200 shadow-md px-2 pt-5 pb-1 md:px-4">
      <div class="pb-12 px-4 mx-auto max-w-screen-xl lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center space-y-4 md:space-y-8">
          <h1 class="text-7xl tracking-tight font-extrabold lg:text-9xl material-purple">404</h1>
          <p class="text-xl tracking-tight font-semibold text-gray-900 md:text-3xl">Whoops! That page doesn't exist.</p>
          <button
            pButton
            routerLink="/"
            type="submit"
            label="Back to Home Page"
            class="p-button-sm text-sm p-button-raised"
            pRipple>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
