<footer class="py-4 lg:pt-5 lg:pb-4 px-4 lg:px-6">
  <div class="lg:flex lg:justify-between">
    <div class="mb-6 lg:mb-0">
      <span class="flex items-center justify-center mb-3">
        <img src="assets/gov-logo.png" class="h-20" alt="Government Logo"/>
      </span>
      <span class="flex justify-center font-semibold whitespace-nowrap">
        Department of Examinations, Sri Lanka</span>
    </div>
    <div class="grid grid-cols-2 gap-6 lg:grid-cols-3 justify-start sm:justify-center">
      <div>
        <h2 class="mb-3 text-sm font-semibold text-gray-900 uppercase">Quick links</h2>
        <ul class="text-gray-600 text-sm">
          <li class="mb-2">
            <a href="https://doenets.lk/examcalendar" target="_blank" class="hover:underline">Exam Calender</a>
          </li>
          <li class="mb-2">
            <a href="https://apps.exams.gov.lk/" target="_blank" class="hover:underline">Exam Admission Cards</a>
          </li>
          <li class="mb-2">
            <a href="https://doenets.lk/examresults" target="_blank" class="hover:underline">Exam Results</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-3 text-sm font-semibold text-gray-900 uppercase">Other links</h2>
        <ul class="text-gray-600 text-sm">
          <li class="mb-2"><a href="https://moe.gov.lk/" target="_blank" class="hover:underline">Ministry of
            Education</a></li>
          <li class="mb-2"><a href="http://www.edupub.gov.lk/" target="_blank" class="hover:underline">Edu. Publications
            Dep.</a></li>
          <li class="mb-2"><a href="https://www.ugc.ac.lk/" target="_blank" class="hover:underline">UGC</a></li>
        </ul>
      </div>
      <div>
        <h2 class="mb-3 text-sm font-semibold text-gray-900 uppercase">Follow us</h2>
        <ul class="text-gray-600 text-sm">
          <li class="mb-2">
            <a href="https://www.facebook.com/doe.gov.lk/" target="_blank" class="hover:underline">Facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="my-3 border-gray-300 mx-auto"/>
  <div class="sm:flex sm:items-center sm:justify-center text-center">
    <span class="text-sm text-gray-500 sm:text-center">© {{currentYear}}
      <a href="https://doenets.lk" class="hover:underline">Department of Examinations, Sri Lanka</a>. All Rights Reserved.
      <span>(version 1.0.0)</span>
    </span>
  </div>
</footer>

